@model Educacion_backend.Models.Calificacione

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Calificacione</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="IdColegio" class="control-label"></label>
                <select asp-for="IdColegio" class="form-control" asp-items="ViewBag.IdColegio"></select>
                <span asp-validation-for="IdColegio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdMateria" class="control-label"></label>
                <select asp-for="IdMateria" class="form-control" asp-items="ViewBag.IdMateria"></select>
                <span asp-validation-for="IdMateria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdUsuario" class="control-label"></label>
                <select asp-for="IdUsuario" class="form-control" asp-items="ViewBag.IdUsuario"></select>
                <span asp-validation-for="IdUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Calificacion" class="control-label"></label>
                <input asp-for="Calificacion" class="form-control" />
                <span asp-validation-for="Calificacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
